.Header{ 
    position: absolute; 
    width: 1920px; 
    height: 106px; 
    left: 0px; 
    top: 0px; 
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1); 
} 
     
.phone{ 
    position: absolute; 
    width: 254px; 
    height: 29px; 
    left: 190px; 
    top: 39px; 
    font-family: 'Montserrat'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 24px; 
    line-height: 29px; 
    letter-spacing: 0.1em; 
    text-transform: uppercase; 
    color: #000000; 
} 

.loveliness{
    width: 100%;
    height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.flower{
    position: relative;
    z-index: 2;
}

.flower::before{
    content: ;
    position: absolute;
    width: 54px;
    height: 61px;
    left: 710px;
    top: 10px;
    z-index: -2;
    background: url(./img/flower1.jpg);
}

.flower2{
    position: absolute;
    width: 54px;
    height: 61px;
    left: 1105px;
    top: 15px;
    z-index: -1;
    background: url(./img/flower2.jpg);
    transform: rotate(162.46 deg);
}

.main{
    padding-left: 15%;
    padding-right: 15%;
}

#info{
    position: absolute;
    height: 22px;
    top: 127px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #000000;
}

.akcii{
    width: 69px;
    left: 690px;
}

.about us{
    width: 63px;
    left: 912px;
}

.contacts{
    width: 101px;
    left: 1128px;
}

.help{
    width: 88px;
    left: 1382px;
}

.box{
    position: absolute;
    width: 213px;
    height: 22px;
    left: 190px;
    top: 221px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #000000;
}

.box1{
    position: absolute;
    width: 442px;
    height: 44px;
    left: 321px;
    top: 331px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #000000;
}

.Ellipse{
    position: absolute;
    width: 363px;
    height: 363px;
    left: 321px;
    top: 463px;
    background: #FF9B9B;
}

.box3{
    position: absolute;
    width: 73px;
    height: 17px;
    left: 160px;
    top: 380px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #000000;
}

.name{
    position: relative;
    width: 297px;
    height: 29px;
    left: 840px;
    top: 471px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000
}

.balance{
    width: 144px;
    height: 22px;
    left: 8px;
    top: 471px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000
}
  
.catalog{
    display: flex;
    justify-content: space-around;
}

.kartina1{
    position: relative;
    width: 500px;
    height: 400px;
    top: 500px;
    z-index: -1;
}

.kartina2{
    position: relative;
    width: 500px;
    height: 400px;
    top: 500px;
    z-index: -2;
}